# PostgreSQL
POSTGRES_DB=falcon_airlines
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST_PORT=5433

# Spring Boot
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Backend (optional)
# SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/falcon_airlines
